.control-section-adventure-travelling h3.accordion-section-title {
    background: #faac24 !important;
    color: #fff !important;
}
a.button.button-secondary.alignright{
    background: #ffffff;
    color: #faac24 !important;
}